torch
pandas
numpy
scikit-learn
scipy
networkx
matplotlib
tqdm
seaborn
pyarrow
fastparquet
shap
lime
torchviz
torchsummary
pandarallel
jellyfish
gdown
setuptools
statsmodels
timesfm>=1.0.0; python_version >= '3.10'
